/* =================================
------------------------------------
  HALO - Photography Portfolio
  Version: 1.0
 ------------------------------------ 
 ====================================*/

/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222121;
	margin: 0;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

p {
	font-size: 14.2px;
	color: #868686;
	line-height: 2.2;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

a{
	text-decoration: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
	Helper CSS
-----------------------*/
.spad {
	padding-top: 130px;
	padding-bottom: 130px;
}

.sp-pad {
	padding-left: 150px;
	padding-right: 150px;
}

.sp-sub-title {
	color: #868686;
	font-size: 12px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.sp-title {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 45px;
	letter-spacing: 6px;
}

.section-title h2 {
	display: inline-block;
	position: relative;
	margin-bottom: 110px;
	padding-bottom: 2px;
	line-height: normal;
}

.section-title h2:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 0;
	background: #40424a;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

.side{
	display: inline-block;
}

/*------------------------
  Common Elements
--------------------------*/
.element {
	margin-bottom: 150px;
}

.element .sp-title {
	margin-bottom: 70px;
}

.element:last-child {
	margin-bottom: 0;
}

.element .site-btn {
	margin-bottom: 10px;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/* Site Buttons */
.site-btn {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	min-width: 135px;
	font-weight: 600;
	padding: 18px 10px 20px;
	color: #222121;
	background-color: transparent;
	border: none;
	cursor: pointer;
	text-align: center;
	border-top: 2px solid #222121;
	border-bottom: 2px solid #222121;
}

.site-btn:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	bottom: 2px;
	left: 0;
	background: #222121;
}

.site-btn.light {
	color: #fff;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.site-btn.light:after {
	background: #fff;
}

.site-btn.light:hover {
	color: #fff;
}

.site-btn:hover {
	color: #222121;
}

.site-btn.btn-two {
	border-left: 2px solid #222121;
	border-right: 2px solid #222121;
}

.site-btn.btn-three {
	padding: 19px 10px 19px;
}

.site-btn.btn-three:after {
	display: none;
}

.site-btn.btn-four {
	padding: 19px 10px 19px;
	border-left: 2px solid #222121;
	border-right: 2px solid #222121;
}

.site-btn.btn-four:after {
	display: none;
}

.arrow-btn {
	color: #7a7a7a;
	font-size: 20px;
}

.arrow-btn i {
	display: inline-block;
}

.arrow-btn:hover {
	color: #7a7a7a;
}

/* Circle progress */
.circle-progress {
	text-align: center;
	display: block;
	position: relative;
	margin-bottom: 30px;
}

.circle-progress canvas {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.circle-progress .progress-info {
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -45px;
}

.circle-progress .progress-info h2 {
	margin-bottom: 5px;
}

.circle-progress .progress-info p {
	font-size: 14px;
	margin-bottom: 0;
	color: #222121;
	font-weight: 600;
	letter-spacing: 3px;
	text-transform: uppercase;
}

/* Fact box */
.fact-box .fact-content {
	text-align: center;
	position: relative;
}

.fact-box .fact-content:after {
	position: absolute;
	content: '';
	height: 90px;
	width: 2px;
	background: #f3f3f3;
	right: 0;
	top: 30px;
	-webkit-transform: rotate(40deg);
	    -ms-transform: rotate(40deg);
	        transform: rotate(40deg);
	-webkit-transform-origin: center;
	    -ms-transform-origin: center;
	        transform-origin: center;
}

.fact-box .fact-content i {
	color: #d3d3d3;
	font-size: 45px;
	line-height: 45px;
	display: block;
	margin-bottom: 20px;
}

.fact-box .fact-content h2 {
	font-size: 36px;
	margin-bottom: 15px;
}

.fact-box .fact-content p {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 0;
}

.fact-box:last-child .fact-content:after {
	display: none;
}

/* Accordion */
.accordion-area .panel {
	margin-bottom: 18px;
}

.accordion-area .panel-header {
	display: block;
	font-weight: 600;
	position: relative;
	border: 2px solid #000;
	-webkit-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}

.accordion-area .panel-link:after {
	content: "+";
	position: absolute;
	font-size: 18px;
	font-weight: 700;
	right: 25px;
	top: 50%;
	color: #000;
	line-height: 16px;
	margin-top: -8px;
	margin-left: -4px;
}

.accordion-area .panel-header.active .panel-link:after {
	content: "-";
	margin-top: -10px;
}

.accordion-area .panel-header.active .panel-link.collapsed:after {
	content: "+";
}

.accordion-area .panel-link {
	text-align: left;
	background-color: transparent;
	border: none;
	position: relative;
	width: 100%;
	padding: 15px 40px;
	padding-left: 30px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
}

.accordion-area .panel-body p {
	font-size: 14px;
	margin-bottom: 0;
	padding-top: 25px;
}

.accordion-area .panel-body div-accord {
	text-align: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;

}

.sectioning{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid black;
}

.image-center{
	width: 100%;
	margin: auto;
	display: block;
}


.accordion-area .panel-body {
	padding: 10px 5px;
}

.orgs-area{
	margin: auto;
	background-color: #222121;
	padding-left: 25px;
}

/* Tab */
.tab-element .nav-tabs {
	border-bottom: 2px solid #222121;
	display: table;
	width: 100%;
}

.tab-element .nav-tabs .nav-item {
	display: table-cell;
	text-align: center;
}

.tab-element .nav-tabs .nav-item:last-child .nav-link {
	margin-right: 0;
}

.tab-element .nav-tabs .nav-link {
	border: 2px solid #222121;
	margin-right: 10px;
	border-radius: 0;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	color: #222121;
	padding: 15px 10px;
}

.tab-element .nav-tabs .nav-link.active {
	padding-bottom: 25px;
	border-bottom: none;
	position: relative;
}

.tab-element .nav-tabs .nav-link.active:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	background: #fff;
	bottom: -2px;
	left: 0;
}

.tab-element .tab-pane {
	padding-top: 25px;
}

/* Icon Box */
.icon-box {
	margin-bottom: 70px;
}

.icon-box i {
	display: block;
	font-size: 50px;
	color: #d3d3d3;
	margin-bottom: 30px;
}

.icon-box h4 {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

/*---------------------
	Header section
-----------------------*/
.header-section {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 111;
	padding-top: 40px;
	padding-bottom: 20px;
}

.site-logo {
	padding-top: 5px;
	color: #fff;
	display: inline-block;
}

.search-top {
	float: right;
	display: inline-block;
	position: relative;
	padding: 14px;
	margin-left: 30px;
}

.search-top .se-btn {
	border: none;
	background: none;
	color: #fff;
}

.search-top input[type='text'] {
	position: absolute;
	right: 5px;
	top: 100%;
	border: none;
	background: rgba(255, 255, 255, 0.17);
	padding: 10px 20px;
	opacity: 0;
	outline: 1px solid #fff;
	outline-offset: 5px;
	margin-top: 5px;
	color: #fff;
	visibility: hidden;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.search-top input[type='text']:focus {
	visibility: visible;
	opacity: 1;
}

.search-top:hover input[type='text'] {
	opacity: 1;
	visibility: visible;
}

.nav-switch {
	display: none;
}



.main-menu {
	float: right;
}

.main-menu ul {
	list-style: none;
}

.main-menu ul li {
	display: inline;
}

.main-menu ul li a {
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	padding: 15px;
	margin-right: 10px;
	position: relative;
}

.main-menu ul li a:after {
	position: absolute;
	content: '';
	width: 0;
	height: 2px;
	background: #fff;
	left: 50%;
	top: 26px;
	margin-left: -17px;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	opacity: 0;
	-webkit-transform-origin: top center;
	    -ms-transform-origin: top center;
	        transform-origin: top center;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.main-menu ul li a:hover:after {
	opacity: 1;
	width: 34px;
}

.main-menu-dropbtn{
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	padding: 15px;
	margin-right: 10px;
	position: relative;
}

.main-menu-content{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/*---------------------
	Hero section
-----------------------*/
.hero-slider {
	position: relative;
}

.hero-slider .owl-nav {
	position: absolute;
	display: inline-block;
	right: 150px;
	top: 50%;
	font-size: 20px;
	z-index: 999;
	color: #fff;
}

.hero-slider .owl-nav i {
	margin-left: 2px;
}

.hero-slider .owl-nav .owl-prev {
	display: none;
}

.hero-slider .owl-dots {
	position: absolute;
	bottom: -5px;
	left: 150px;
}

.hero-slider .owl-dots .owl-dot {
	display: inline-block;
	margin-right: 30px;
	color: #fff;
	font-size: 14px;
	padding-bottom: 40px;
	position: relative;
	overflow: hidden;
}

.hero-slider .owl-dots .owl-dot.active span {
	color: #cc1847;
}

.hero-slider .owl-dots .owl-dot.active:after {
	height: 100%;
}

.hero-slider .owl-dots .owl-dot:after {
	position: absolute;
	content: '';
	width: 2px;
	height: 0;
	left: 50%;
	top: 30px;
	margin-left: -2px;
	background: #fff;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.hs-item {
	min-height: 950px;
	position: relative;
	display: table;
	width: 100%;
}

.hs-item:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0.7;
}

.hs-item .hs-text {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	z-index: 2;
}

.hs-item .hs-title {
	color: #fff;
	font-size: 130px;
	font-weight: 300;
	margin-bottom: 40px;
	position: relative;
	left: 150px;
	opacity: 0;
}

.hs-item .hs-des {
	color: #fff;
	font-size: 60px;
	line-height: 1.4;
	position: relative;
	left: 150px;
	opacity: 0;
}

.owl-item.active .hs-item .hs-title,
.owl-item.active .hs-item .hs-des {
	left: 0;
	opacity: 1;
}

.owl-item.active .hs-item .hs-title {
	-webkit-transition: all 0.5s ease 0.6s;
	-o-transition: all 0.5s ease 0.6s;
	transition: all 0.5s ease 0.6s;
}

.owl-item.active .hs-item .hs-des {
	-webkit-transition: all 0.5s ease 0.8s;
	-o-transition: all 0.5s ease 0.8s;
	transition: all 0.5s ease 0.8s;
}

/*---------------------
	Intro section
-----------------------*/
.intro-text {
	padding-top: 70px;
}

.intro-text p {
	margin-bottom: 50px;
}

/*---------------------
	Portfolio section
-----------------------*/
.portfolio-warp {
	position: relative;
	display: block;
	overflow: hidden;
}

.single-portfolio {
	height: 500px;
	width: 33.333333%;
	position: relative;
	float: left;
	display: block;
	background-position: center center;
}

.single-portfolio.sm-wide {
	width: 22.222222%;
}

.single-portfolio:hover .portfolio-info {
	opacity: 1;
}

.portfolio-info {
	position: absolute;
	width: calc(100% - 110px);
	height: calc(100% - 110px);
	left: 55px;
	top: 55px;
	text-align: -webkit-center;
	padding-top: 100px;
	border: 1px solid #fff;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.portfolio-info .pfbg {
	position: absolute;
	width: 110%;
	height: 110%;
	left: -5%;
	top: -5%;
	-webkit-transform: scale(1.12);
	    -ms-transform: scale(1.12);
	        transform: scale(1.12);
	-webkit-filter: blur(40px);
	        filter: blur(40px);
	background-position: center center;
}

.portfolio-info h5 {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	z-index: 9;
	position: relative;
	margin-bottom: 10px;
}
.portfolio-info h6 {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	z-index: 9;
	position: relative;
	margin-bottom: 10px;
}


.portfolio-info p {
	font-size: 14px;
	color: #fff;
	z-index: 9;
	position: relative;
}

.portfolio-info li {
	font-size: 14px;
	color: #fff;
	z-index: 9;
	position: relative;
}

.portfolio-info a a{
	color: #FFFFFF;
	position: relative;
	z-index: 9;
}

.portfolio-info i {
	color: #fff;
	position: relative;
}


.portfolio-filter {
	list-style: none;
}

.portfolio-filter li {
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	margin-right: 12px;
	color: #868686;
	font-weight: 600;
	cursor: pointer;
}

.portfolio-filter li.mixitup-control-active {
	color: #111;
}

/*----
New Portfolio
 */

.portfolio-filter-white {
	list-style: none;
}

.portfolio-filter-white li {
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	margin-right: 12px;
	color: #FFFFFF;
	font-weight: 600;
	cursor: pointer;
}

.portfolio-filter-white li.mixitup-control-active {
	color: #868686;
}

/*---------------------
	Milestones section
-----------------------*/
.milestones-section {
	background: #222121;
}

.milestones-section .fact-box .fact-content {
	text-align: center;
	position: relative;
}

.milestones-section .fact-box .fact-content:after {
	background: #6f6e6e;
}

.milestones-section .fact-box .fact-content i,
.milestones-section .fact-box .fact-content h2,
.milestones-section .fact-box .fact-content p {
	color: #fff;
}



.milestones-section .fact-box:last-child .fact-content:after {
	display: none;
}

/*-------------------
White Milestones
 */
.milestones-section-white {
	background: #fff;
}

.milestones-section-white .fact-box .fact-content {
	text-align: center;
	position: relative;
}

.milestones-section-white .fact-box .fact-content:after {
	background: #6f6e6e;
}

.milestones-section-white .fact-box .fact-content i,
.milestones-section-white .fact-box .fact-content h2,
.milestones-section-white .fact-box .fact-content p {
	color: #222121;
}

.milestones-section-white .fact-box:last-child .fact-content:after {
	display: none;
}

/*---------------------
	Services section
-----------------------*/
.services-section {
	position: relative;
}

.services-warp {
	position: relative;
}

.services-text {
	position: absolute;
	width: 490px;
	left: 140px;
}

.services-text p {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 50px;
}

.service-more-link {
	position: absolute;
	right: 150px;
	top: 50%;
	margin-top: -15px;
}

/*---------------------
	Contact section
-----------------------*/
.contact-section {
	padding-top: 150px;
	padding-bottom: 150px;
	position: relative;
}

.contact-section .contact-warp {
	position: relative;
	z-index: 2;
}

.contact-section:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0.7;
}

.contact-text {
	position: absolute;
	width: 490px;
	left: 140px;
}

.contact-text .sp-sub-title,
.contact-text .sp-title,
.contact-text p {
	color: #fff;
}

.contact-text p {
	font-size: 16px;
	margin-bottom: 20px;
}

.contact-text .con-info {
	list-style: none;
}

.contact-text .con-info li {
	color: #fff;
	margin-bottom: 20px;
	font-size: 14px;
}

.contact-text .con-info li i {
	width: 30px;
	float: left;
	color: #616161;
	display: block;
	margin-right: 25px;
	font-size: 20px;
}

.contact-form {
	padding-top: 80px;
}

.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form textarea {
	width: 100%;
	background: none;
	border: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	font-size: 14px;
	padding: 5px 0 20px;
	margin-bottom: 20px;
}

.contact-form textarea {
	height: 130px;
	padding-bottom: 10px;
	margin-bottom: 35px;
}

.contact-form ::-webkit-input-placeholder {
	font-style: italic;
	color: #fff;
}

.contact-form :-ms-input-placeholder {
	font-style: italic;
	color: #fff;
}

.contact-form ::-ms-input-placeholder {
	font-style: italic;
	color: #fff;
}

.contact-form ::placeholder {
	font-style: italic;
	color: #fff;
}

/*---------------------
	Footer section
----------------------*/
.footer-section {
	background: #0d0d0d;
}

.footer-section h2 {
	color: #fff;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 20px;
}

.footer-section p {
	font-size: 24px;
	color: #fff;
	margin-bottom: 40px;
}

.footer-section .social a {
	color: #fff;
	margin-right: 40px;
}

.footer-section .social a:last-child {
	margin-right: 0;
}

/*---------------------
	Other Pages
-----------------------
========================*/

.page-top-area {
	height: 300px;
	position: relative;
}

.page-top-area:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0.7;
}

.breadcrumb-area {
	position: absolute;
	left: 150px;
	bottom: 35px;
	z-index: 2;
	color: #fff;
}

.breadcrumb-area a,
.breadcrumb-area span {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	margin-right: 15px;
	margin-left: 10px;
}

.breadcrumb-area a:first-child {
	margin-left: 0;
}

/*---------------------
	Progress section
-----------------------*/
.progress-section {
	padding: 0 80px 100px;
}

.progress-section .circle-progress:after {
	position: absolute;
	content: '';
	height: 90px;
	width: 2px;
	background: #d0d0d0;
	right: 0;
	top: 70px;
	-webkit-transform: rotate(40deg);
	    -ms-transform: rotate(40deg);
	        transform: rotate(40deg);
	-webkit-transform-origin: center;
	    -ms-transform-origin: center;
	        transform-origin: center;
}

.progress-section .cp-item:last-child .circle-progress:after {
	display: none;
}

/*---------------------
	Review section
-----------------------*/
.review-section {
	position: relative;
}

.review-section:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0.7;
}

.review-section .review-warp {
	position: relative;
	z-index: 2;
}

.review-section .review-warp .sp-sub-title,
.review-section .review-warp .sp-title {
	color: #fff;
}

.review-slider .rs-item .qute {
	font-size: 30px;
	color: #fff;
}

.review-slider .rs-item p {
	font-size: 24px;
	font-style: italic;
	color: #fff;
	margin-bottom: 50px;
}

.review-slider .rs-item h4 {
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	letter-spacing: 2px;
	padding-top: 50px;
	margin-left: 90px;
	text-transform: uppercase;
}

.review-slider .client-pic {
	width: 70px;
	height: 70px;
	border-radius: 50px;
	overflow: hidden;
	float: left;
}

/*---------------------
	Work nav section
-----------------------*/
.worknav-section {
	padding-top: 90px;
	padding-bottom: 90px;
}

.worknav-section.extra-style {
	background: #f2f7f7;
	padding-top: 150px;
	padding-bottom: 150px;
}

.worknav .wn-thumb {
	width: 165px;
	height: 165px;
	display: inline-block;
	border-radius: 50%;
}

.worknav .wn-info {
	position: relative;
	display: inline-block;
}

.worknav .wn-info span {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: #868686;
}

.worknav .wn-info h3 {
	font-size: 24px;
	font-weight: 400;
}

.worknav.wn-prev .wn-info {
	top: -50px;
	margin-left: 50px;
}

.worknav.wn-next {
	text-align: right;
}

.worknav.wn-next .wn-thumb {
	float: right;
}

.worknav.wn-next .wn-info {
	top: 65px;
	margin-right: 50px;
}

/*---------------------
	Blog Page
-----------------------*/
.blog-item {
	margin-bottom: 150px;
}

.blog-item:last-child {
	margin-bottom: 0;
}

.blog-thumb {
	height: 660px;
	margin-bottom: 140px;
	position: relative;
}

.post-date-warp {
	position: absolute;
	width: 100%;
	bottom: 30px;
	left: 0;
}

.post-date-warp .post-date-box {
	width: 105px;
	height: 106px;
	background: #fff;
	text-align: center;
	padding-top: 20px;
}

.post-date-warp .post-date-box h3 {
	letter-spacing: 2px;
	margin-bottom: 5px;
}

.post-date-warp .post-date-box p {
	font-size: 12px;
	text-transform: uppercase;
	color: #222121;
	font-weight: 600;
}

.blog-list {
	margin-bottom: 140px;
}

.blog-title {
	text-transform: uppercase;
	margin-bottom: 10px;
	letter-spacing: 5px;
	font-weight: 700;
}

.post-metas {
	margin-bottom: 60px;
}

.post-metas .post-meta {
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: #868686;
	margin-left: 15px;
	margin-right: 15px;
}

.post-metas .post-meta a {
	color: #222121;
}

.post-metas .post-meta:first-child {
	margin-left: 0;
}

/*---------------------
	Single work Page
-----------------------*/
.work-slider {
	margin-bottom: 150px;
}

.work-slider .ws-item {
	height: 660px;
}

.work-slider .owl-nav {
	position: absolute;
	right: 55px;
	top: 50%;
	margin-top: -10px;
}

.work-slider .owl-nav .owl-prev {
	display: none;
}

.work-slider .owl-nav .owl-next {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}

.work-info-list {
	list-style: none;
}

.work-info-list li {
	display: block;
	width: 50%;
	margin-bottom: 60px;
	float: left;
}

.work-info-list li span {
	font-size: 12px;
	text-transform: uppercase;
	color: #868686;
	margin-bottom: 15px;
	display: block;
	letter-spacing: 1px;
	font-weight: 600;
}

.work-info-list li h4 {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.next-portfolio-link {
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: right;
}

.map-area {
	height: 560px;
}


/*---------------------
	Responsive 
-----------------------*/
@media only screen and (max-width: 1650px) {
	.sp-pad {
		padding-left: 90px;
		padding-right: 90px;
	}
	.hero-slider .owl-dots {
		left: 90px;
	}
	.contact-text,
	.services-text {
		left: 80px;
	}
}

@media only screen and (max-width: 1510px) {
	.sp-pad {
		padding-left: 30px;
		padding-right: 30px;
	}
	.breadcrumb-area,
	.hero-slider .owl-dots {
		left: 30px;
	}
	.contact-text,
	.services-text {
		left: 30px;
		width: 350px;
	}
	.service-more-link {
		right: 30px;
	}
	.progress-section .circle-progress:after {
		display: none;
	}
}

@media only screen and (max-width: 1366px) {
	.hs-item {
		min-height: 750px;
	}
	.single-portfolio {
		height: 400px;
	}
	.portfolio-info {
		width: calc(100% - 40px);
		height: calc(100% - 40px);
		left: 20px;
		top: 20px;
		padding-top: 165px;
	}
}

/* Medium screen : 992px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.contact-text,
	.services-text {
		width: 100%;
		position: relative;
		margin-bottom: 50px;
		left: 0;
	}
	.single-portfolio {
		width: 50%;
	}
	.single-portfolio.sm-wide {
		width: 50%;
	}
	.single-portfolio.sm-wide.md-w-100 {
		width: 100%;
	}
	.single-portfolio .md-w-100 {
		width: 100%;
	}
	.service-more-link {
		right: 0;
		position: relative;
		text-align: center;
	}
	.worknav {
		text-align: center;
	}
	.worknav .wn-thumb,
	.worknav .wn-info {
		display: block;
	}
	.worknav .wn-thumb {
		margin: 0 auto 30px;
	}
	.worknav.wn-prev .wn-info,
	.worknav.wn-next .wn-info {
		top: 0px;
		margin-left: 0px;
		margin-right: 0;
		text-align: center;
	}
	.worknav.wn-next .wn-thumb {
		float: none;
	}
}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.site-logo {
		padding-top: 0;
	}
	.search-top {
		padding: 8px;
		margin-left: 10px;
	}
	.main-menu ul li a {
		padding: 10px;
		margin-right: 5px;
	}
	.hero-slider .owl-nav {
		right: 50px;
	}
	.hs-item {
		min-height: 650px;
	}
	.hs-item .hs-title {
		font-size: 100px;
		margin-bottom: 20px;
	}
	.hs-item .hs-des {
		font-size: 40px;
	}
	.contact-text,
	.services-text {
		width: 100%;
		position: relative;
		margin-bottom: 50px;
		left: 0;
	}
	.single-portfolio {
		width: 50%;
	}
	.single-portfolio.sm-wide {
		width: 50%;
	}
	.single-portfolio.sm-wide.md-w-100 {
		width: 100%;
	}
	.single-portfolio .md-w-100 {
		width: 100%;
	}
	.fact-box .fact-content {
		margin-bottom: 50px;
	}
	.fact-box .fact-content:after {
		display: none;
	}
	.service-more-link {
		right: 0;
		position: relative;
		text-align: center;
	}
	.worknav {
		text-align: center;
	}
	.worknav .wn-thumb,
	.worknav .wn-info {
		display: block;
	}
	.worknav .wn-thumb {
		margin: 0 auto 30px;
	}
	.worknav.wn-prev .wn-info,
	.worknav.wn-next .wn-info {
		top: 0px;
		margin-left: 0px;
		margin-right: 0;
		text-align: center;
	}
	.worknav.wn-next .wn-thumb {
		float: none;
	}
	.blog-thumb {
		height: 550px;
	}
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
	.search-top {
		display: none;
	}
	.nav-switch {
		position: absolute;
		right: 20px;
		font-size: 30px;
		color: #fff;
		top: 38px;
		display: block;
	}
	.main-menu {
		display: none;
		float: none;
		position: absolute;
		width: 100%;
		background: #222;
		left: 0;
		top: 100%;
	}
	.main-menu ul li {
		display: block;
	}
	.main-menu ul li a {
		display: block;
		padding: 15px;
		margin-right: 0;
		border-bottom: 1px solid #292929;
	}
	.main-menu ul li a:after {
		left: 35px;
	}
	.hero-slider .owl-nav {
		right: 50px;
	}
	.hs-item {
		min-height: 470px;
	}
	.hs-item .hs-title {
		font-size: 80px;
		margin-bottom: 20px;
	}
	.hs-item .hs-des {
		font-size: 30px;
	}
	.sp-pad {
		padding-left: 15px;
		padding-right: 15px;
	}
	.sp-title {
		font-size: 26px;
	}
	.contact-text,
	.services-text {
		width: 100%;
		position: relative;
		margin-bottom: 50px;
		left: 0;
	}
	.single-portfolio {
		width: 100%;
	}
	.single-portfolio.sm-wide {
		width: 100%;
	}
	.single-portfolio.sm-wide.md-w-100 {
		width: 100%;
	}
	.single-portfolio .md-w-100 {
		width: 100%;
	}
	.fact-box .fact-content {
		margin-bottom: 50px;
	}
	.fact-box .fact-content:after {
		display: none;
	}
	.service-more-link {
		right: 0;
		position: relative;
		text-align: center;
	}
	.progress-section {
		padding: 0 15px 100px;
	}
	.worknav {
		text-align: center;
	}
	.worknav .wn-thumb,
	.worknav .wn-info {
		display: block;
	}
	.worknav .wn-thumb h3,
	.worknav .wn-info h3 {
		font-size: 20px;
	}
	.worknav .wn-info h3 {
		font-size: 20px;
	}
	.worknav .wn-thumb {
		width: 100px;
		height: 100px;
		margin: 0 auto 30px;
	}
	.worknav.wn-prev .wn-info,
	.worknav.wn-next .wn-info {
		top: 0px;
		margin-left: 0px;
		margin-right: 0;
		text-align: center;
	}
	.worknav.wn-next .wn-thumb {
		float: none;
	}
	.work-slider .ws-item {
		height: 400px;
	}
	.blog-thumb {
		height: 400px;
	}
}

/* small Mobile :320px. */
@media only screen and (max-width: 479px) {
	.hero-slider .owl-nav {
		right: 20px;
	}
	.hs-item .hs-title {
		font-size: 50px;
		margin-bottom: 20px;
	}
	.hs-item .hs-des {
		font-size: 18px;
	}
	.sp-pad {
		padding-left: 15px;
		padding-right: 15px;
	}
	.worknav .wn-thumb {
		width: 70px;
		height: 70px;
	}
	.worknav .wn-info h3 {
		font-size: 16px;
	}
	.work-info-list li {
		width: 100%;
	}
	.footer-section h2 {
		font-size: 33px;
	}
}

body {
	background: #fff;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.8;
	color: #999999;
}

a {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	color: #000;
	font-family: "Open Sans", sans-serif;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
}

header .navbar-brand {
	text-transform: uppercase;
	letter-spacing: .2em;
	font-weight: 400;
	color: #fff !important;
}

header .navbar {
	padding-top: 0;
	padding-bottom: 0;
	background: transparent !important;
}

@media (max-width: 991.98px) {
	header .navbar {
		background: rgba(0, 0, 0, 0.4) !important;
		padding-top: .5rem;
		padding-bottom: .5rem;
	}
}

header .navbar .nav-link {
	padding: 1.7rem 1rem;
	outline: none !important;
}

@media (max-width: 991.98px) {
	header .navbar .nav-link {
		padding: .5rem .5rem;
	}
}

header .navbar .nav-link:hover {
	color: #fff !important;
}

header .navbar .nav-link.active {
	color: #fff !important;
}

header .navbar .dropdown.show > a {
	color: #fff !important;
}

header .navbar .dropdown-menu {
	font-size: 14px;
	border-radius: 0px;
	border: none;
	-webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
	min-width: 13em;
	margin-top: -10px;
}

header .navbar .dropdown-menu:before {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #fff;
	border-width: 10px;
}

@media (max-width: 1199.98px) {
	header .navbar .dropdown-menu:before {
		display: none;
	}
}

header .navbar .dropdown-menu a {
	padding-top: 7px;
	padding-bottom: 7px;
}

header .navbar.navbar-light .nav-link {
	color: #fff;
}

header .navbar.navbar-light .nav-link.active {
	color: #fff;
}

.site-hero {
	background-size: cover;
	background-position: center center;
	min-height: 750px;
	height: 100vh;
}

.site-hero > .container {
	position: relative;
	z-index: 2;
}

.site-hero.overlay {
	position: relative;
}

.site-hero.overlay:before {
	content: "";
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.site-hero.overlay h1 {
	font-size: 70px;
}

.site-hero.overlay h1, .site-hero.overlay p {
	color: #fff;
}

.site-hero .site-hero-inner {
	min-height: 750px;
	height: 100vh;
}

.site-hero-innerpage, .site-hero-innerpage .site-hero-inner {
	min-height: 550px;
	height: 50vh;
}

.site-section {
	padding: 7em 0;
}

.quick-info {
	position: relative;
	margin-top: -100px;
	z-index: 9;
}

.quick-info .bgcolor {
	background: #000;
	position: relative;
	padding: 50px 0 30px 0;
}

.quick-info .bgcolor:before {
	position: absolute;
	left: -100%;
	top: 0;
	content: "";
	height: 100%;
	width: 120%;
	background: #000;
}

.quick-info .media .icon-wrap {
	line-height: 0;
	top: 0;
}

.quick-info .media .icon-wrap span {
	font-size: 30px;
	color: #fff;
}

.quick-info .media .media-body h5 {
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	margin-bottom: 10px;
	padding: 0;
}

.quick-info .media .media-body p {
	font-size: 15px;
}

.quick-info .media .media-body p:last-child {
	margin-bottom: 0;
}

.img-bg {
	background-size: cover;
}

@media (max-width: 991.98px) {
	.img-md-fluid {
		max-width: 100%;
	}
}

.feature-destination, .slider-wrap {
	position: relative;
	z-index: 10;
	margin-top: -50px;
	margin-bottom: 50px;
}

.feature-destination .img-bg, .slider-wrap .img-bg {
	margin-bottom: 30px;
	display: block;
	height: 300px;
	position: relative;
	top: 0;
	-webkit-transition: .2s all ease;
	-o-transition: .2s all ease;
	transition: .2s all ease;
}

.feature-destination .img-bg .custom-icon:before, .slider-wrap .img-bg .custom-icon:before {
	font-size: 34px;
	color: #fff;
}

.feature-destination .img-bg:before, .slider-wrap .img-bg:before {
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	opacity: .1;
	position: absolute;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.feature-destination .img-bg .text, .slider-wrap .img-bg .text {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	width: 80%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.feature-destination .img-bg .text .icon, .slider-wrap .img-bg .text .icon {
	color: #fff;
	font-size: 30px;
	position: relative;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	top: 0;
}

.feature-destination .img-bg .text h2, .slider-wrap .img-bg .text h2 {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	top: 0px;
	position: relative;
}

.feature-destination .img-bg .text p, .slider-wrap .img-bg .text p {
	color: #fff;
	opacity: 0;
	top: 10px;
	visibility: hidden;
	font-size: 13px;
	position: relative;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.feature-destination .img-bg:hover, .feature-destination .img-bg:focus, .slider-wrap .img-bg:hover, .slider-wrap .img-bg:focus {
	top: -10px;
	-webkit-box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.4);
}

.feature-destination .img-bg:hover .text .icon, .feature-destination .img-bg:focus .text .icon, .slider-wrap .img-bg:hover .text .icon, .slider-wrap .img-bg:focus .text .icon {
	top: -10px;
}

.feature-destination .img-bg:hover .text h2, .feature-destination .img-bg:focus .text h2, .slider-wrap .img-bg:hover .text h2, .slider-wrap .img-bg:focus .text h2 {
	top: -10px;
}

.feature-destination .img-bg:hover .text p, .feature-destination .img-bg:focus .text p, .slider-wrap .img-bg:hover .text p, .slider-wrap .img-bg:focus .text p {
	top: 0;
	opacity: .5;
	visibility: visible;
}

.feature-destination .img-bg:hover:before, .feature-destination .img-bg:focus:before, .slider-wrap .img-bg:hover:before, .slider-wrap .img-bg:focus:before {
	opacity: .4;
}

.video-wrap {
	position: relative;
}

.video-wrap .btn-video {
	display: block;
	position: absolute;
	width: 100px;
	height: 100px;
	background: #fff;
	border-radius: 50%;
	top: 50%;
	-webkit-box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.2);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: -30px;
}

.video-wrap .btn-video:active, .video-wrap .btn-video:focus {
	outline: none;
}

@media (max-width: 767.98px) {
	.video-wrap .btn-video {
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		right: 0;
		left: 50%;
		top: 100%;
	}
}

.video-wrap .btn-video span {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.custom-nav .btn span {
	font-size: 16px;
}

.slider-wrap {
	margin-top: 0;
}

.slider-wrap .img-bg:hover {
	top: 0;
}

.section-cover {
	background-size: cover;
	position: relative;
}

.section-cover.cta h2 {
	font-size: 60px;
}

.section-cover.cta h2 span {
	display: block;
	font-size: 30px;
}

.section-cover, .section-cover .intro {
	height: 500px;
}

.section-cover p {
	color: #fff;
}

.section-cover h2 {
	color: #fff;
}

.top-destination .place {
	display: block;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.top-destination .place:hover, .top-destination .place:focus {
	opacity: .7;
}

.top-destination .place img {
	max-width: 100%;
	margin-bottom: 20px;
}

.top-destination .place h2 {
	font-size: 18px;
	line-height: 1.5;
}

.top-destination .place p {
	font-size: 13px;
	color: #ccc;
}

.btn, .form-control {
	outline: none;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-radius: 0;
}

.btn:focus, .btn:active, .form-control:focus, .form-control:active {
	outline: none;
}

.form-control {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

textarea.form-control {
	height: inherit;
}

.btn {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	padding: 12px 30px;
}

.btn.btn-black {
	background: #000;
	color: #fff;
}

.btn.btn-primary {
	color: #fff;
	border-width: 2px;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
	border-color: #ff8f57;
	background: #ff8f57;
}

.btn.btn-sm {
	font-size: 12px;
}

.btn.btn-outline-primary {
	border-width: 2px;
	color: #ff6d24;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:active {
	color: #fff;
}

.btn.btn-outline-white {
	border-width: 2px;
	border-color: #fff;
	color: #fff;
}

.btn.btn-outline-white:hover, .btn.btn-outline-white:focus {
	background: #fff;
	color: #000;
	border-width: 2px;
}

.btn:hover {
	-webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
	box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

.custom-icon:before, .custom-icon:after {
	font-size: 50px;
	color: #ff6d24;
	margin-left: 0;
}

.no-nav .owl-nav {
	display: none;
}

.owl-carousel .owl-item {
	opacity: .4;
}

.owl-carousel .owl-item.active {
	opacity: 1;
}

.owl-carousel .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
	position: absolute;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: -10px;
}

.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-prev:focus, .owl-carousel .owl-nav .owl-prev:active,
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-nav .owl-next:focus,
.owl-carousel .owl-nav .owl-next:active {
	outline: none;
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
	font-size: 40px;
}

.owl-carousel .owl-nav .owl-prev {
	left: 30px !important;
}

.owl-carousel .owl-nav .owl-next {
	right: 30px !important;
}





.owl-carousel.home-slider {
	z-index: 1;
	position: relative;
}

.owl-carousel.home-slider .owl-nav {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.owl-carousel.home-slider .owl-nav button {
	color: #fff;
}

.owl-carousel.home-slider:focus .owl-nav, .owl-carousel.home-slider:hover .owl-nav {
	opacity: 1;
	visibility: visible;
}

.owl-carousel.home-slider .slider-item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: calc(100vh - 117px);
	min-height: 700px;
	position: relative;
}

.owl-carousel.home-slider .slider-item:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.2);
	content: "";
}

.owl-carousel.home-slider .slider-item .slider-text {
	color: #fff;
	height: calc(100vh - 117px);
	min-height: 700px;
}

.owl-carousel.home-slider .slider-item .slider-text .child-name {
	font-size: 40px;
	color: #fff;
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
	font-size: 40px;
	color: #fff;
	line-height: 1.2;
	font-weight: 800 !important;
	text-transform: uppercase;
}

@media (max-width: 991.98px) {
	.owl-carousel.home-slider .slider-item .slider-text h1 {
		font-size: 40px;
	}
}

.owl-carousel.home-slider .slider-item .slider-text p {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 300;
	color: white;
}

.owl-carousel.home-slider .slider-item.dark .child-name {
	color: #000;
}

.owl-carousel.home-slider .slider-item.dark h1 {
	color: #000;
}

.owl-carousel.home-slider .slider-item.dark p {
	color: #000;
}

.owl-carousel.home-slider.inner-page .slider-item {
	height: calc(50vh - 117px);
	min-height: 350px;
}

.owl-carousel.home-slider.inner-page .slider-item .slider-text {
	color: #fff;
	height: calc(50vh - 117px);
	min-height: 350px;
}

.owl-carousel.home-slider .owl-dots {
	position: absolute;
	bottom: 100px;
	width: 100%;
}

.owl-carousel.home-slider .owl-dots .owl-dot {
	width: 10px;
	height: 10px;
	margin: 5px;
	border-radius: 50%;
	border: 2px solid rgba(255, 255, 255, 0.5);
	outline: none !important;
	position: relative;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active {
	border: 2px solid white;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active span {
	background: white;
}

.owl-carousel.major-caousel .owl-stage-outer {
	padding-top: 30px;
	padding-bottom: 30px;
}

.owl-carousel.major-caousel .owl-nav .owl-prev, .owl-carousel.major-caousel .owl-nav .owl-next {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	color: #495057;
}

.owl-carousel.major-caousel .owl-nav .owl-prev:hover, .owl-carousel.major-caousel .owl-nav .owl-prev:focus, .owl-carousel.major-caousel .owl-nav .owl-next:hover, .owl-carousel.major-caousel .owl-nav .owl-next:focus {
	color: #6c757d;
	outline: none;
}

.owl-carousel.major-caousel .owl-nav .owl-prev.disabled, .owl-carousel.major-caousel .owl-nav .owl-next.disabled {
	color: #dee2e6;
}

.owl-carousel.major-caousel .owl-nav .owl-prev {
	left: -60px !important;
}

.owl-carousel.major-caousel .owl-nav .owl-next {
	right: -60px !important;
}

.owl-carousel.major-caousel .owl-dots {
	bottom: -30px !important;
	position: relative;
}

.owl-custom-nav {
	float: right;
	position: relative;
	z-index: 10;
}

.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-next {
	padding: 10px;
	font-size: 30px;
	background: #ccc;
	line-height: 0;
	width: 60px;
	text-align: center;
	display: inline-block;
}

.box {
	overflow: hidden;
	border-radius: 4px;
	display: block;
}

.box img {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.box .box-body {
	padding: 20px;
	border: 1px solid #e9ecef;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.box h2 {
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.box.hover:hover img, .box.hover:focus img {
	margin-top: -20px;
}

.box.hover:hover .box-body, .box.hover:focus .box-body {
	background: #ff6d24;
	color: #fff;
	padding: 30px 20px;
	border-color: #ff6d24;
}

.box.hover:hover h2, .box.hover:focus h2 {
	color: #fff;
}

.breadcrumb-custom {
	background: none;
	padding: 0;
}

.breadcrumb-custom li a {
	color: #ff6d24;
}

.breadcrumb-custom li a:hover {
	color: #fff;
}

.breadcrumb-custom li.active {
	color: #fff;
}

.breadcrumb-custom li.breadcrumb-item + .breadcrumb-item:before {
	content: "/";
	color: rgba(255, 255, 255, 0.3);
}

.children-info li {
	display: block;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #dee2e6;
}

.sidebar-box {
	margin-bottom: 30px;
	padding: 25px;
	font-size: 15px;
	width: 100%;
	border-radius: 7px;
	float: left;
	border: 2px solid #f0f0f0;
	background: #fff;
}

.sidebar-box *:last-child {
	margin-bottom: 0;
}

.sidebar-box h3 {
	font-size: 18px;
	margin-bottom: 15px;
}

.categories li, .sidelink li {
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #dee2e6;
}

.categories li:last-child, .sidelink li:last-child {
	margin-bottom: 0;
	border-bottom: none;
	padding-bottom: 0;
}

.categories li a, .sidelink li a {
	display: block;
}

.categories li a span, .sidelink li a span {
	position: absolute;
	right: 0;
	top: 0;
	color: #ccc;
}

.categories li.active a, .sidelink li.active a {
	color: #000;
	font-style: italic;
}

.cover_1 {
	background-size: cover;
	background-position: center center;
	padding: 7em 0;
}

.cover_1 .sub-heading {
	color: rgba(255, 255, 255, 0.7);
	font-size: 22px;
}

.cover_1 .heading {
	font-size: 50px;
	color: white;
	font-weight: 300;
}

.heading {
	color: #000;
}

.heading.border-bottom {
	position: relative;
	padding-bottom: 30px;
}

.heading.border-bottom:before {
	bottom: 0;
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background: #ff6d24;
}

.text-black {
	color: #000 !important;
}

.stretch-section .video {
	display: block;
	position: relative;
	-webkit-box-shadow: 4px 4px 70px -20px rgba(0, 0, 0, 0.5);
	box-shadow: 4px 4px 70px -20px rgba(0, 0, 0, 0.5);
}

.media-feature {
	padding: 20px;
	-webkit-transition: .2s all ease-out;
	-o-transition: .2s all ease-out;
	transition: .2s all ease-out;
	background: #fff;
	z-index: 1;
	position: relative;
	border-radius: 0px;
	margin-bottom: 30px;
	border: 1px solid #e6e6e6;
}

.media-feature .icon {
	font-size: 60px;
	color: #ff6d24;
}

.media-feature h3 {
	font-size: 20px;
	margin-bottom: 20px;
}

.media-feature:hover, .media-feature:focus {
	border: 1px solid transparent;
	-webkit-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 20px -3px rgba(0, 0, 0, 0.3);
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
}

.container {
	padding: 0 16px;
}

.title {
	color: grey;
	font-size: 18px;
}

button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

a {
	text-decoration: none;
	font-size: 22px;
	color: black;
}

button:hover, a:hover {
	opacity: 0.7;
}

button:hover, a:hover {
	opacity: 0.7;
}

#accordion .card {
	font-size: 15px;
	border-color: #dee2e6;
}

#accordion .card h5 a {
	display: block;
	text-align: left;
	text-decoration: none;
	color: #ff6d24;
	position: relative;
	-webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
	box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
	border-radius: 0;
}

#accordion .card h5 a .icon {
	position: absolute;
	right: 20px;
	top: 50%;
	-webkit-transform: translateY(-50%) rotate(-180deg);
	-ms-transform: translateY(-50%) rotate(-180deg);
	transform: translateY(-50%) rotate(-180deg);
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

#accordion .card h5 a:hover {
	text-decoration: none;
	-webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
	box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

#accordion .card h5 a.collapsed {
	color: #000;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

#accordion .card h5 a.collapsed .icon {
	right: 20px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#accordion .card h5 a.collapsed:hover {
	text-decoration: none;
	-webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
	box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

#accordion .card .card-body {
	padding-top: 15px;
}

.media-testimonial img {
	width: 100px;
	border-radius: 50%;
}

.media-testimonial blockquote p {
	font-size: 20px;
	color: #000;
	font-style: italic;
}

.list-unstyled.check li {
	position: relative;
	padding-left: 30px;
	line-height: 1.3;
	margin-bottom: 10px;
}

.list-unstyled.check li:before {
	color: #17a2b8;
	left: 0;
	font-family: "Ionicons";
	content: "\f122";
	position: absolute;
}

#modalAppointment .modal-content {
	border-radius: 0;
	border: none;
}

#modalAppointment .modal-body, #modalAppointment .modal-footer {
	padding: 40px;
}

.site-footer {
	padding: 5em 0;
	background: #f2f2f2;
	font-size: 16px;
}

.site-footer .list-unstyled li {
	margin-bottom: 15px;
}

.site-footer .list-unstyled li h3 {
	font-size: 16px;
	font-weight: normal;
	font-family: "Open Sans", sans-serif;
}

.site-footer p {
	color: #000;
}

.site-footer p:last-child {
	margin-bottom: 0;
}

.site-footer a {
	color: #000;
}

.site-footer a:hover {
	opacity: .4;
}

.site-footer h3 {
	font-size: 20px;
}

.site-footer .footer-link li {
	line-height: 1.5;
	margin-bottom: 15px;
}

.site-footer hr {
	width: 100%;
}

.blog-entry-footer .post-meta {
	color: gray;
	font-size: 15px;
}

.border-t {
	border-top: 1px solid #f8f9fa;
}

.copyright {
	font-size: 14px;
}

.element-animate {
	opacity: 0;
	visibility: hidden;
}

#loader {
	position: fixed;
	width: 96px;
	height: 96px;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
	border-radius: 16px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
	-o-transition: opacity .2s ease-out, visibility 0s linear .2s;
	transition: opacity .2s ease-out, visibility 0s linear .2s;
	z-index: 1000;
}

#loader.fullscreen {
	padding: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	background-color: #fff;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#loader.show {
	-webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
	-o-transition: opacity .4s ease-out, visibility 0s linear 0s;
	transition: opacity .4s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

#loader .circular {
	-webkit-animation: loader-rotate 2s linear infinite;
	animation: loader-rotate 2s linear infinite;
	position: absolute;
	left: calc(50% - 24px);
	top: calc(50% - 24px);
	display: block;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

#loader .path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	-webkit-animation: loader-dash 1.5s ease-in-out infinite;
	animation: loader-dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader-rotate {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes loader-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -136px;
	}
}

@keyframes loader-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -136px;
	}
}
